.projectCard {
  color: white;
  background: teal;
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
  box-shadow: var(--bs);
  cursor: pointer;
}

.projectCard:hover,
.projectCard:focus-within {
  transform: scale(1.05);
}

.projectCardContentWrapper {
  padding: 1.5rem;
  background: linear-gradient(
    hsl(0 0% 0%/0),
    hsl(0 0% 0%/0.5) 50%,
    hsl(0 0% 0%/1)
  );
}