.resumeTitleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}

.resumeTitleSection h2 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.resumeTitleSection p {
    padding: 0;
    padding-top: 0.136rem;
    margin: 0;
}
