.footer {
    background-color: #303030;
    padding: 0;
    display: flex;
    justify-content: space-between;
    color: white;
}

.socialLinkWrapper {
    display: flex;
    gap: 1rem;
    margin-left: 0.5rem;
}

.socialLinkWrapper a {
    display: flex;
    gap: 1rem;
}

.socialLinkWrapper a:hover,
.socialLinkWrapper a:focus {
    color: teal;
    transform: scale(1.01);
}

.copyright {
    margin-right: 0.5rem;
}

@media screen and (max-width: 500px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .socialLinkWrapper {
        margin: 0 auto;
    }
}