/* about section */
.aboutSectionWrapper {
  background-color: #303030;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  box-shadow: var(--bs);
}

.aboutTitle h2 {
  padding-top: 1rem;
}

.aboutSectionContentWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.aboutSectionContent {
  padding-top: 0;
  margin-top: 0;
}

.aboutSectionContent:first-child {
  padding-top: 0;
  margin-top: 0;
}

.aboutSectionContentImageWrapper {
  padding-top: 1rem;
}

@media screen and (max-width: 600px) {
  .aboutSectionContentWrapper {
    grid-template-columns: auto;
  }

  .aboutSectionContentImageWrapper {
    margin: 0 auto;
  }
}

/* projects Section */
.projectsSectionWrapper {
  margin-bottom: 1rem;
}

.projectsGrid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  gap: 1rem;
}

.cardContainer {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .projectsGrid {
    grid-template-columns: repeat(2, auto);
  }

  .projectsSectionWrapper {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .projectsGrid {
    grid-template-columns: 1fr;
  }
}
