/* about section */
.aboutSectionWrapper {
  background-color: #303030;
  color: white;
  padding: 1rem;
  margin: 2em 0;
  box-shadow: var(--bs);
}

.aboutTitle h2 {
  font-size: 2rem;
}

.aboutSectionContentWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.aboutSectionContent {
  padding-top: 0;
  margin-top: 0;
  font-size: 1.25rem;
}

.aboutSectionContent:first-child {
  padding-top: 0;
  margin-top: 0;
}

.aboutSectionContentImageWrapper {
  margin: 0;
  padding: 0;
  box-shadow: var(--bs);
  height: min-content;
}

@media screen and (max-width: 600px) {
  .aboutSectionContentWrapper {
    grid-template-columns: auto;
  }

  .aboutSectionContentImageWrapper {
    margin: 0 auto;
  }
}

/* products Section */
.productsSectionWrapper {
  margin-bottom: 1rem;
}

.productsGrid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  gap: 1rem;
}

.cardContainer {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .productsGrid {
    grid-template-columns: repeat(2, auto);
  }

  .productsSectionWrapper {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .productsGrid {
    grid-template-columns: 1fr;
  }
}
