.productCard {
  margin: 0 auto;
  color: white;
  background: teal;
  background-size: cover;
  max-width: 35ch;
  min-height: 22vw;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
  box-shadow: var(--bs);
  cursor: pointer;
}

.productCardContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 22vw;
  padding: 1.5em;
  transform: translateY(50%);
  

  background: linear-gradient(
    hsl(0 0% 0%/0),
    hsl(0 0% 0%/0.5) 50%,
    hsl(0 0% 0%/1)
  );
}

.productCardTitle {
  position: relative;
  width: max-content;
  max-width: 100%;
}

@media (hover) {
  .productCardContentWrapper {
    transform: translateY(45%);
    transition: transform 500ms ease;
}
.productCard:hover .productCardContentWrapper,
.productCard:focus-within .productCardContentWrapper {
    transform: translateY(0);
    transition-delay: 500ms;
}

.productCard:focus-within .productCardContentWrapper {
    transition-duration: 0ms;
}
.productCardContentWrapper > *:not(.productCardTitle) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.productCard:hover .productCardContentWrapper > *:not(.productCardTitle),
.productCard:focus-within .productCardContentWrapper > *:not(.productCardTitle) {
    opacity: 1;
    transition-delay: 1000ms;  
}

}
